:root {
    --body-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --accent1-color: darkblue;
    --primary-color: green;
    --heading-font: Arial, Helvetica, sans-serif
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
section,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header img {
    width: 125px;
    height: auto;
    margin-left: 50px;
}

header,
footer {
    background-color: bisque;
}

footer {
    display: grid;
    grid-template-columns: 80% 1fr;
    align-items: center;
}

.history {
    display: grid;
    grid-template-columns: 42% 1fr 42%;
    padding-top: 20px;
}

.pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -19px;
    margin-top: 15px;
    width: 100%;
    /*box-sizing: border-box;
    flex-wrap: wrap;*/
}

.pictures img {
    width: 130px;
    height: auto;
    /*margin: 5px;*/
}

.pictures figcaption {
    width: 130px;
    margin: 5px 0;
}

footer p {
    text-align: center;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

h2 {
    text-align: center;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: darkblue;
    color: white;
}

nav,
p,
section {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    background-color: darkblue;
    color: white;
    top: 200px;
    left: 100px;
    width: 75%;
    opacity: 0.8;
}

.hero article img {
    float: right;
    width: 180px;
    height: auto;
}

.socialmedia {
    justify-self: right;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    height: auto;
}

.banner2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.banner2 li {
    flex: 1 1 auto;
}

.banner2 li a {
    text-decoration: none;
}

.banner1 {
    display: grid;
    grid-template-columns: 30% 1fr;
    align-items: center;
}