:root {
    --primary-color: darkblue;
    --standard-border: solid black;
    --two: 2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
    border-bottom: 1px var(--standard-border);
}

main {
    padding: 1rem;
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px var(--standard-border);
    padding: var(--two);
    box-shadow: 0 0 30px gray;
    float: right;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

aside {
    position: relative;
    grid-column: 1/2;
    width: 20rem;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;

}

aside h2 {
    position: absolute;
    top: 20px;
    left: 20px;

}

header,
.grid,
footer {
    border-top: var(--two) var(--standard-border);
    margin-top: 15px;
}

header,
footer {
    max-width: 840px;
    margin: 0 auto;
}

footer {
    text-align: center;
}

ul {
    padding: 3rem;
}

p {
    padding: 0;
    padding-right: 2rem;
    padding-top: 1rem;
}

/* class selectors */

.box {
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    color: brown;
    background-color: bisque;
}

.grid {
    display: grid;
    align-items: center;
    justify-content: center;
    max-width: 840px;
    margin: 0 auto;
}