nav {
    background-color: darkblue;
    padding: 10pt;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main {
    max-width: 100%;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 50%;
    margin: 10px;
    border: 2px dotted red;
    padding: 20px;
    color: brown;
    background-color: bisque;
}

aside img {
    width: 200px;
    height: auto;

}

footer {
    border-top: 2px solid black;
    margin-top: 15px;
    text-align: center;
}

p {
    padding: 0;
}