.callout {
    background-color: #247;
    max-width: 400px;
    margin: 10px;
    padding: 10px;
    color: white
}

.callout img {
    border: 2pt solid white;
    float: right;
    margin: 10px;
}

blockquote {
    font-size: 24px;
}

cite {
    display: block;
    text-align: right;
    border-top: 1px solid white;
    color: white
}